// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.items-container {
  background-color: #f1f1fc;
  padding: 10px;
  max-width: 800px;
  display: flex;
  flex-direction: column;

}

.item-container {
    padding:20px;
    background: white;
    margin:10px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;

    .item-header {
        display: flex;
        justify-content: space-between;
        div {
            display: flex; 
        }
    }
    

    
    .item-footer {
        display: flex;
        justify-content: space-between;

    }

}

